:root {
    --body: #001632;
    --h1: #7f8a98;
    --bg-password: #cff4fc;
}

body {
    background-color: var(--body);
}

h1 {
    color: var(--h1);
}
.output {
    border: 1px solid black;
    background-color: var(--bg-password);
}

form {
    background-color: #9bcbfb;
}

.repetitions {
    margin-right: 155px;
}

.options {
margin-right: 120px;
}

.cont_radio {
    left:4px;
}


